body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    margin-top: 0;
}

.display {
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button, .operator, .equal, .clear, .point, .back {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.operator, .equal, .clear, .point, .back {
    background-color: #FFA500;
}

.operator:active, .button:active, .equal:active, .clear:active, .point:active, .back:active {
    background-color: #ccc;
}
